section#schedule(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/schedule.svg')

    h2.center Schedule

    table

        thead

            tr

                th.start Start
                th.end End
                th.speaker Speaker
                th.title Title
                th.segment Segment

        tbody

            tr
                td.start 08:30
                td.end 09:00
                td.speaker
                td.title Registration
                td.segment

            tr
                td.start 09:05
                td.end 09:10
                td.speaker
                td.title Welcome
                td.segment

            each speaker, i in speakers

              tr(class=speaker.category + '-it')
                  td.start #{speaker.start}
                  td.end #{speaker.end}
                  td.speaker
                    a.twitter-handle(href='https://www.twitter.com/#{speaker.twitter_handle}', target='_blank')
                      if speaker.twitter_handle
                        @#{speaker.twitter_handle}
                  td.title #{speaker.title}
                  td.segment
                    if speaker.category
                      | #{speaker.category} it

            tr
                td.start 17:25
                td.end 17:30
                td.speaker
                td.title Closing
                td.segment

            tr
                td.start 17:30
                td.end 19:00
                td.speaker
                td.title Drinks Reception
                td.segment
