section#speakers(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/speakers.svg')

    h2 Speakers list

    //- ul.speakers-list

    //-     each speaker, i in speakers

    //-         if i === 0 || i % 4 === 0

    //-             if i > 0
    //-                 </div>

    //-             <div class='row speakers-list'>

    //-         li.col-3
    //-             img.avatar(src='#{speaker.avatar}')

    //-             h4 #{speaker.name}
    //-             h5 #{speaker.title}

    //-             p=speaker.bio

    //-             a.twitter-handle(href='https://www.twitter.com/#{speaker.twitter_handle}', target='_blank') @#{speaker.twitter_handle}

    h4.center
        | We are currently looking for speakers
        br
        | If you'd like to be involved, we'd love to hear your proposal

    a.button.center.primary(href='/call-for-speakers') Join as a Speaker