section#speakers(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/speakers.svg')

    h2 speakers

    ul.speakers-list

        each speaker, i in speakers

            if i === 0 || i % 3 === 0

                if i > 0
                    </div>

                <div class='row'>

            li.col-4(class='category-' + speaker.category + '-it')

                .avatar-wrap
                    img.avatar(src='#{speaker.avatar}')
                    .badge= speaker.category.substr(0, 1).toUpperCase() + speaker.category.substr(1) + ' it'

                h4 #{speaker.name}

                if speaker.title
                    h5 !{speaker.title}

                if speaker.bio
                    p !{speaker.bio}

                a.twitter-handle(href='https://www.twitter.com/#{speaker.twitter_handle}', target='_blank') @#{speaker.twitter_handle}

    br

    h4.center.more
        | More to be announced
        .normal Stay tuned&hellip;